body {
	margin:0; /*Para no guardar ningun margen en la pantalla*/
	background-image: url("../images/azul3.jpg");  /*Imagen que queremos poner como fondo*/
	background-size:cover; /*Para que la imagen no nos quede expandida y no centrada o en mosaico*/
}


/*Barra de navegación superior*/
ul.top { 
    list-style-type: none;
    margin: 0;
    padding: 0; /*Sin relleno*/
    overflow: hidden;
    background-color:#4286f4; /*Color azul*/
    position: fixed; /*Para que la barra siempre se quede 'anclada' en la misma posición*/
    top: 0; /*Distancia entre el borde superior de la pantalla y la barra => 0*/
    width: 100%; /*Ocupar todo el ancho de pantalla*/
	z-index: 1; /*Si se superponen elementos, la barra siempre 'por encima'*/
}

li  img{
    float: left; /*Para situar el logo de la aplicación a la izda. en la barra superior*/
}

li a {
	float: right; /*Situar los links en la parte derecha de la barra superior*/
    display: block; 
    color: white;
	font-size: 120%;
    text-align: center;
    padding: 33px 20px; /*Relleno de cada elemento*/
    text-decoration: none; /*Texto normal (sin negrita, subrayados, itálica,...)*/
}

li p { /*Texto "Te has identificado como: <@correo>" tras hacer login: texto en azul y centrado con respecto a los demás elementos de la barra superior*/
	float: right; 
	color: yellow;
	font-size: 110%;
	margin-top: 0.9cm;
	margin-right: 1cm;
}

li a.logout { /*Para que en texto del enlace Logout sea de color rojo*/
	color: red;
}

li a:hover {
    background-color: #1d5dc4; 
}

.tabla { 
	background-color: rgb(192, 199, 211); /*Color gris de fondo con grado de opacidad 0.7*/
	width: 600px; /*Anchura del form*/
	position: relative; /*Tipo de posición absoluta*/
	top:150px; /*Distancia con respecto al borde superior*/
	margin: auto;
	text-align: center; 
    border-radius: 15px;
    padding: 20px;
}
h2 {
	color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

td{background-color: #f2f2f2}

th {
    background-color:#4286f4;
    color: white;
}

input[type=button] {
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

input[type=button]:hover {
    background-color: #008CBA;
    color: white;
}

#eliminarUsuario {
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid red;
}

#eliminarUsuario:hover {
    background-color: red;
    color: white;
}
